<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="AddDish" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO dish (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
    VALUES (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})

    </insert>

    <update id="StartOrStop" useGeneratedKeys="true" keyProperty="id">
        UPDATE dish
        <set>
            <if test="categoryId!=null ">
                category_id=#{categoryId},
            </if>
            <if test="price!=null ">
                price=#{price},
            </if>
            <if test="status!=null ">
                status=#{status},
            </if>
            <if test="image!=null and image!=''">
                image=#{image},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="createUser!=null">
                create_user=#{createUser},
            </if>
            <if test="updateUser!=null">
                update_user=#{updateUser}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="DeleteDish">
        delete from dish where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="DishPageQuery" resultType="com.sky.vo.DishVO">
        select d.* , c.name as categoryName
        from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id=#{categoryId}
            </if>
            <if test="status != null">
                and d.status=#{status}
            </if>
        </where>
        order by d.update_time desc
    </select>

    <select id="ListDishIds" resultType="com.sky.entity.Dish">
        select * from dish where id in
        <foreach collection="ids" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from dish
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

</mapper>